@tailwind base;
@tailwind components;
@tailwind utilities;
/* Adds scroll snap to tailwind */

@layer base {
	.dark {
		@apply bg-gray-800 text-white transition-all duration-100 ease-linear;
	}
	.light {
		@apply bg-white text-gray-800 transition-all duration-100 ease-linear;
	}
}
.navbar {
	@apply bg-lahs-blue border-gray-200 dark:border-gray-800 shadow-lg p-5 z-0 flex flex-row pb-2 pt-2;
}

.navbar-link {
	@apply hover:bg-lahs-blue-hover rounded-none  hover:rounded-md text-center hover:shadow-lg p-5 dark:text-gray-200 text-white font-semibold hover:text-gray-200 transition-all duration-200 ease-linear;
}
.hidden {
	@apply hidden;
}

@media (min-width: 768.1px) {
	.navbar-mobile {
		@apply hidden;
	}
	.dark-mode-mobile {
		@apply hidden;
	}
	.navbar-mobile-toggle {
		@apply hidden;
	}
	.navbar-link {
		@apply flex;
	}
}
@media (max-width: 768px) {
	.navbar {
		@apply hidden;
	}
	.navbar-link {
		@apply hidden;
	}
	.navbar-mobile {
		@apply list-none flex-col p-2 m-2;
	}
	.navbar-mobile-toggle-icon {
		@apply p-2 m-2  ease-linear;
	}
	.dark-mode-mobile {
		@apply p-1 m-2 ease-linear;
	}
	.navbar-mobile-toggle {
		@apply p-0 m-0 ease-linear;
	}
	.mobile-nav-item {
		@apply bg-lahs-blue border-2 border-gray-200 dark:border-gray-800 rounded-lg shadow-lg text-white p-5 z-0 flex flex-row pb-2 pt-2;
	}
}
