@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
	@apply bg-lahs-blue border-2 border-gray-300 rounded-lg shadow-lg p-5 z-0 flex flex-row pb-2 pt-2;
}

.navbar-link {
	@apply hover:bg-lahs-blue-hover rounded-none  hover:rounded-md text-center hover:shadow-lg p-5 dark:text-gray-500 text-white font-semibold hover:text-gray-200 transition-all duration-200 ease-linear;
}
